.wrapper.promos_page::after {
    top: 12%;
}

/* Hero Promotion  */
.hero_promos {
    position: relative;
    z-index: 10;
}

.hero_promos__wrapper {
    position: relative;
    height: 365px;
    overflow: hidden;
    border-radius: 8px;
}

.hero_promos__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(top, rgba(19, 13, 37, 0) 0%, rgba(19, 13, 37, 0.8) 46.95%, #130D25 100%), url(.jpg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 13, 37, 0)), color-stop(46.95%, rgba(19, 13, 37, 0.8)), to(#130D25)), url(.jpg);
    background: linear-gradient(180deg, rgba(19, 13, 37, 0) 0%, rgba(19, 13, 37, 0.8) 46.95%, #130D25 100%), url(.jpg);

}

.hero_promos__img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.hero_promos__content {
    position: absolute;
    left: 3%;
    bottom: 15%;
}

.hero_promos__title {
    gap: 15px;
}

.hero_promos__title img {
    width: auto;
}

.hero_promos__text {
    max-width: 584px;
    margin-top: 15px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

/* Hero Promotion END */

/* Section Promotion Items */
.promo_section__title {
    margin-top: 30px;
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.promo_section__title span {
    font-weight: 300;
}

.promo_bonuses__items {
    margin-top: 60px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 660px);
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 90px;
    place-content: center;
}

.promo_bonuses__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 35px;
    position: relative;
    display: flex;
    font-family: var(--font-montserrat);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
}

.promo_bonuses__item.violet {
    background: -o-linear-gradient(317.03deg, rgba(129, 54, 242, 0.34) 2.84%, rgba(129, 54, 242, 0.03) 99.04%);
    background: linear-gradient(132.97deg, rgba(129, 54, 242, 0.34) 2.84%, rgba(129, 54, 242, 0.03) 99.04%);
}

.promo_bonuses__item.pink {
    background: -o-linear-gradient(317.03deg, rgba(173, 31, 246, 0.34) 2.84%, rgba(173, 31, 246, 0.03) 99.04%);
    background: linear-gradient(132.97deg, rgba(173, 31, 246, 0.34) 2.84%, rgba(173, 31, 246, 0.03) 99.04%);
}

.promo_bonuses__item.orange {
    background: -o-linear-gradient(317.03deg, rgba(247, 136, 50, 0.34) 2.84%, rgba(247, 136, 50, 0.03) 99.04%);
    background: linear-gradient(132.97deg, rgba(247, 136, 50, 0.34) 2.84%, rgba(247, 136, 50, 0.03) 99.04%);
}

.promo_bonuses__left {
    width: 75%;
}

.promo_bonuses__end {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.promo_bonuses__title {
    margin: 20px 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.promo_bonuses__btns {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.promo_bonuses__btn,
.promo_bonuses__view {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    gap: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--font-color);
}

.promo_bonuses__btn {
    padding: 14px;
    justify-content: center;
    width: 100%;
    max-width: 256px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.promo_bonuses__btn:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.promo_bonuses__btn::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.65634 5.16699C3.36784 5.16699 1.5 6.84801 1.5 8.90762V13.4498C1.5 14.7318 2.51642 15.8545 3.87505 15.8545C4.64202 15.8545 5.27331 15.523 5.71079 15.0989C6.14841 14.6747 6.44214 14.1655 6.70692 13.6888C6.97173 13.2122 7.21016 12.7642 7.4421 12.4812C7.67417 12.1983 7.81678 12.1139 8.03121 12.1139H11.5938C11.8082 12.1139 11.9508 12.1983 12.1829 12.4812C12.415 12.7642 12.6533 13.2121 12.9181 13.6888C13.1829 14.1655 13.4767 14.6748 13.9142 15.0989C14.3518 15.523 14.9831 15.8545 15.75 15.8545C17.1086 15.8545 18.125 14.7318 18.125 13.4498V8.90762C18.125 6.84801 16.2572 5.16699 13.9687 5.16699H5.65634ZM5.06257 7.30449H6.2501V8.37324H7.43762V9.44199L6.2501 9.44187V10.5106L5.06257 10.5107V9.44199L3.87505 9.44187V8.37312H5.06257V7.30449ZM13.3752 7.30449H14.5628V8.37324H15.7503V9.44199L14.5628 9.44187V10.5106L13.3752 10.5107V9.44199L12.1877 9.44187V8.37312H13.3752V7.30449ZM13.3752 8.37312V9.44199L14.5628 9.44187V8.37324L13.3752 8.37312Z' fill='white'/%3E%3C/svg%3E%0A");
}

.promo_bonuses__btn::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    z-index: -1;
}

.violet .promo_bonuses__btn {
    background: #8136F2;
}

.violet .promo_bonuses__btn::after {
    background: rgba(129, 54, 242, 0.7);
}

.pink .promo_bonuses__btn {
    background: #AD1FF6;
}

.pink .promo_bonuses__btn::after {
    background: rgba(173, 31, 246, 0.7);
}

.orange .promo_bonuses__btn {
    background: #F78832;
}

.orange .promo_bonuses__btn::after {
    background: rgba(247, 136, 50, 0.7);
}

.promo_bonuses__view {
    flex-shrink: 0;
}

.promo_bonuses__view::before {
    content: '';
    width: 29px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='27' viewBox='0 0 31 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.115 17.4005C14.7239 17.7462 14.2765 17.8237 13.7726 17.633C13.2688 17.4423 13.0164 17.101 13.0156 16.6091V10.9874C13.0156 10.4962 13.268 10.1549 13.7726 9.9635C14.2773 9.77211 14.7247 9.84961 15.115 10.196L18.3257 13.0341C18.4492 13.1433 18.5418 13.2616 18.6036 13.3889C18.6653 13.5163 18.6962 13.6527 18.6962 13.7983C18.6962 13.9438 18.6653 14.0802 18.6036 14.2076C18.5418 14.3349 18.4492 14.4532 18.3257 14.5624L15.115 17.4005Z' fill='white'/%3E%3C/svg%3E%0A");
}

.promo_bonuses__view::after {
    content: '';
    position: absolute;
    left: 35px;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--font-color);
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.promo_bonuses__view:hover::after {
    width: calc(100% - 30px);
}

.promo_bonuses__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: auto;
}

/* Section Promotion Items END */

/* Section Accept */

.accept_title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 9px;
}

.accept_title::before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_300_4295' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Cpath d='M0 0H30V30H0V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_300_4295)'%3E%3Cpath d='M14.2311 19.0938C15.6198 19.0888 18.6561 19.0775 18.6211 17.1463C18.5873 15.1713 15.6711 15.29 14.2498 15.3488C14.0911 15.355 13.9498 15.3613 13.8348 15.3625L13.8998 19.0963C13.9936 19.0938 14.1061 19.0938 14.2311 19.0938ZM14.0836 13.6525C15.2423 13.6513 17.7711 13.6488 17.7411 11.8925C17.7086 10.0963 15.2798 10.2025 14.0936 10.255C13.9598 10.2613 13.8436 10.2663 13.7461 10.2675L13.8048 13.6538L14.0836 13.6525Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.37 29.5512C19.4075 31.555 27.5475 26.6637 29.5512 18.6287C31.555 10.5925 26.6625 2.45249 18.625 0.449992C10.5925 -1.55501 2.45246 3.33749 0.449962 11.375C-1.55379 19.41 3.33746 27.55 11.3712 29.5525L11.37 29.5512ZM16.7225 8.27624C18.915 8.43124 20.66 9.07374 20.8887 11.0787C21.0587 12.5462 20.4587 13.44 19.485 13.9575C21.11 14.3175 22.1412 15.2612 21.9787 17.4212C21.7775 20.1025 19.7937 20.8562 16.9462 21.0687L16.9937 23.8812L15.2987 23.9125L15.25 21.1375C14.8112 21.145 14.3612 21.15 13.895 21.1475L13.945 23.935L12.25 23.965L12.2 21.1475L11.7212 21.1512C11.4787 21.1525 11.2337 21.1537 10.9887 21.1587L8.78121 21.1962L9.08246 19.1662C9.08246 19.1662 10.3375 19.1637 10.315 19.145C10.795 19.135 10.9162 18.7887 10.9425 18.5712L10.8662 14.125L10.9875 14.1225H11.045C10.9852 14.1156 10.9251 14.1127 10.865 14.1137L10.81 10.9387C10.7387 10.5962 10.5087 10.2012 9.82246 10.2137C9.84121 10.1887 8.58996 10.235 8.58996 10.235L8.55746 8.42499L10.8975 8.38499V8.39374C11.2487 8.38749 11.61 8.37499 11.9762 8.36124L11.9287 5.57499L13.6237 5.54624L13.6712 8.27624C14.1237 8.25999 14.5787 8.24249 15.025 8.23499L14.9775 5.52249L16.6737 5.49249L16.7225 8.27874V8.27624Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.accept_content {
    margin-top: 25px;
    font-weight: 700;
    text-align: center;
}

.accept_items {
    margin-top: 20px;
    gap: 70px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.accept_item {
    text-align: center;
}

.accept_item img {
    width: 67px;
    margin: 0 auto;
}

.accept_item__title {
    margin-top: 13px;
    font-weight: 700;
}

/* Section Accept END */
@media screen and (max-width:767.98px) {
    .hero_promos {
        margin: 0;
    }

    .hero_promos .hero_promos__container {
        padding: 0;
    }

    .hero_promos__wrapper {
        height: 340px;
    }

    .promo_section__title {
        margin-top: 20px;
    }

    .hero_promos__title.title_h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .hero_promos__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }

    .promo_bonuses__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .promo_bonuses__item {
        padding: 16px 20px;
    }

    .promo_bonuses__title {
        margin: 10px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .promo_bonuses__right {
        width: 67px;
    }

    .promo_bonuses__end {
        font-size: 10px;
        line-height: 1;
    }
    .promo_bonuses__btns{
        gap: 11px;
    }
    .promo_bonuses__btn{
        padding: 3px;
    }
    .promo_bonuses__btn, .promo_bonuses__view{
        font-size: 10px;
    }
    .promo_bonuses__items{
        margin-top: 35px;
        row-gap: 60px;
    }
}